* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #000;
  background-color: hsl(233, 47%, 7%);
}
.container {
  display: flex;
  justify-content: center;
  margin: 18rem auto auto auto;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  max-width: 110rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: hsla(244, 59%, 24%, 0.905);
}
.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7rem;
}
.card-right {
  position: relative;
}
.numbers {
  display: flex;
  gap: 6rem;
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.outline-txt {
  margin-bottom: 4rem;
  color: #fff;
  font-size: 3.9rem;
}
span {
  color: hsl(277, 64%, 61%);
}
.desc-text {
  margin-bottom: 8rem;
  color: #ffffffb3;
  font-size: 1.6rem;
  line-height: 1.6;
}
.stats {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.sml {
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffffb3;
}
.img-back-desktop {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsl(277, 92%, 40%);
}
@media (max-width: 69em) {
  .container {
    margin: 10rem auto 10rem auto;
  }
  .card {
    width: 40rem;
    grid-template-columns: 1fr;
    background-color: hsla(258, 59%, 24%, 0.756);
  }
  .card-left {
    padding: 0 3rem 0 3rem;

    align-items: normal;
  }
  .img-box {
    grid-row: 1;
  }
  .outline-txt {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 4rem;
  }
  .desc-text {
    text-align: center;
    font-size: 1.9rem;
    line-height: 2;
  }
  .numbers {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
  }
  .stats {
    align-items: center;
    gap: 0.8rem;
  }
  .desc-text {
    margin-bottom: 4rem;
  }
  .sml {
    font-size: 1.2rem;
  }
}
